.split-wrapper {
  text-align: center;
  margin: -21px 0;
}

.split-header {
  text-align: left;
  margin: 0px;
  margin-top: -5px;
}

.split-choice {
  font-size: 16px; /* Adjust the font size as needed */
  font-weight: 600;
  margin-top: 28px;
  margin-bottom: 65px;
}

/* New styles for customizing radio buttons */
.split-choice input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #fff;
  margin: 0;
  font-size: 30px;
  width: 0.63em;
  height: 0.63em;
  border: 2px solid rgba(2, 2, 2, 0.46);
  border-radius: 50%;
  outline: none;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0%);
  cursor: pointer;
  margin-right: 5px;
  transition: background-color 0.3s, border-color 0.3s, box-shadow 0.3s;
}

.split-choice input[type="radio"]:checked {
  background-color: #32ab89;
  border-color: #32ab89;
}

.split-radio-text {
  position: relative;
  top: -3px;
}

.split-choice label {
  cursor: pointer;
  padding-left: 0px;
}

/* Hover styles */
.split-choice input[type="radio"]:hover {
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.6);
}

/* Focus styles for keyboard navigation */
.split-choice input[type="radio"]:focus {
  box-shadow: 0px 0px 5px rgba(50, 171, 137, 0.75);
}
